@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Gowun+Dodum&family=Ubuntu:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    font-family: Ubuntu, "Gowun Batang";
}

a {
    text-decoration: none;
}

.hide {
    display: none
}

html {
    position: relative;
    width: 100%;
    background: #222;

    font-family: "Source Sans Pro", sans-serif;
    color: #fff;
    font-size: 14pt;
    text-align: center;
}

body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.intro-job {
    font-weight: 700;
}

.intro-name {
    font-size: 130%;
}

.btn-open {
    width: 75%;
    margin: 0 auto;
}

.btn-open>p {
    line-height: 1.6;
}

.modal {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background: transparent;
    overflow: hidden;
    border-radius: .2em;

    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.rhythmsection {
    display: block;
    overflow: auto;
    width: 100%;
    height: 100vh;
    background: transparent;
    position: absolute;

    padding: 2em;
    text-align: center;
}

.btn {
    position: absolute;
    background-image: url('../static/img/sui_pfp.jpg');
    background-size: cover;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    height: 10em;
    width: 10em;
    border-radius: 50%;

    font-weight: 700;
    cursor: pointer;
    user-select: none;

    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.modal .inside {
    opacity: 0;
    display: none;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    padding: 2em;
    text-align: center;

    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.inside p {
    margin: 0
}

#modalToggle:checked~.modal .btn-open {
    animation-name: btnExpand;
}

#modalToggle:checked~.modal {
    animation-name: modalExpand;
}

#modalToggle:checked~.modal .inside {
    display: block;
    animation-name: delayedFadeIn;
}

.btn-open::before,
.btn-open::after {
    position: absolute;
    content: "";
    top: -5%;
    left: -5%;
    height: 110%;
    width: 110%;
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(60px);
}


.btn-open::after {
    background-color: #00ffff;
    z-index: -2;
    animation: backglow2 15s ease infinite;
}

.btn-open::before {
    background-color: #ff0072;
    z-index: -1;
    animation: backglow1 15s ease infinite;
}

.social-btn {
    flex: 1 1 auto;
    margin: 10px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 3px #eee;
    border-radius: 10px;
}

.social-btn:hover {
    background-position: right center;
}

.btn-gh {
    background-image: linear-gradient(to right, #343434 0%, #000000 51%, #343434 100%);
}

.btn-yt {
    background-image: linear-gradient(to right, #ED213A 0%, #93291E 51%, #ED213A 100%);
}

.btn-tw {
    background-image: linear-gradient(to right, #E100FF 0%, #7F00FF 51%, #E100FF 100%)
}

.subtitles {
    text-align: left;
}

#history-1,
#history-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    flex-basis: 300px;
    flex-shrink: 0;
    flex-grow: 0;
    max-width: 100%;
    background-color: white;
    color: black;
    box-shadow: 0 5px 10px 0 rgba(black, .15);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem;
}

.card-img {
    padding-bottom: 56.25%;
    position: relative;
    text-align: center;
}

.card-img img {
    top: 0;
    left: 0;
    padding: 1rem;
    display: block;
    margin: auto;
    position: absolute;
    width: 100%;
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    font-size: 1.25rem;
    line-height: 1.33;
    font-weight: 700;
}

.card-intro {
    font-size: 1rem;
    text-align: left;
}

.card-duration {
    font-size: 0.8rem;
    text-align: center;
    color: gray;
}

.award-date {
    font-size: 0.8rem;
    border: 1px solid white;
    border-radius: 0.2rem;
    padding: 0.4rem;
    margin: 0.4rem;
}

.award-list {
    margin: 30px auto;
    max-width: 100%;
}

.award-title {
    background: #505662;
    border-left: 8px solid #1f2024;

    padding: 15px;
    font-weight: 700;
    position: relative;
    text-align: left;
    transition: all .5s;
    line-height: 1.5;
}

.award-title:before {
    opacity: 0;
    transition: all .4s ease-in-out;
}

.award-title:hover {
    cursor: pointer;
}

.award-title+.award-content {
    max-height: 0;
}

.award-content {
    background: #1c1c1c;
    color: #edeff3;
    margin: 0;
    overflow: hidden;
    padding: 0px 15px;
    text-align: left;
    transition: all .5s;
}

.award-title.open {
    background: #0e0c0d;
    border-color: #0e0c0d;
    color: #edeff3;
    margin: -5px;
}


.award-title.open:after {
    transform: rotate(180deg) translateY(-2px);
}

.award-title.open:before {
    opacity: 1;
    transform: rotate(-360deg) translateY(-3px);
}

.award-title.open+.award-content {
    padding: 15px 25px 30px;
    margin: 0 -5px;
    max-height: 200px;
}

.award-info {
    background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    padding: 3px 13px;
    margin-right: 10px;
    border-radius: 4px;
    border: none;
}

.badge {
    position: relative;
    margin: 0.75em 1.2em;
    width: 2em;
    height: 3.1em;
    border-radius: 5px;
    display: inline-block;
    top: 0;
    transition: all .2s ease;
}

.badge::after,
.badge::before {
    position: absolute;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: inherit;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.badge::before {
    transform: rotate(60deg);
}

.badge::after {
    transform: rotate(-60deg);
}

.badge:hover {
    top: -8px;
}

.badge .circle {
    width: 40px;
    height: 40px;
    position: absolute;
    background: white;
    z-index: 10;
    border-radius: 50%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 10px;
    font-size: 1.3em;
}

.badge .ribbon {
    position: absolute;
    border-radius: 42px;
    padding: 2.5px 2.5px;
    width: 80px;
    z-index: 11;
    color: white;
    bottom: 4px;
    left: 50%;
    margin-left: -39.5px;
    height: 1.1rem;
    margin-top: 1.2rem;
    font-size: 0.7rem;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .27);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);
    text-transform: uppercase;
    background: linear-gradient(to bottom right, #555 0%, #333 100%);
    cursor: default;
}

.b-html {
    background: linear-gradient(to bottom right, #FA6E1E 0%, #FA2E1E 100%);
    color: #E34F26;
}

.b-css3 {
    background: linear-gradient(to bottom right, #0EAFCC 0%, #0E4BCC 100%);
    color: #1572B6;
}

.b-js {
    background: linear-gradient(to bottom right, #E0DD10 0%, #E0B310 100%);
    color: #F7DF1E;
}

.b-c {
    background: linear-gradient(to bottom right, #0996B3 0%, #093CB3 100%);
    color: #00599C;

    fill: #00599C;
}

.b-java {
    background: linear-gradient(to bottom right, #0961B3 0%, #013E65 100%);
    color: #013E65;
}

.b-py {
    background: linear-gradient(to bottom right, #34A7C2 0%, #345DC2 100%);
    color: #3776AB;
}

.b-block {
    background: linear-gradient(to bottom right, #3AB0E8 0%, #3A55E8 100%);
    color: #4D97FF;

    fill: #4D97FF;
}

.b-sql {
    background: linear-gradient(to bottom right, #44A4B8 0%, #4467B8 100%);
    color: #4479A1;
}

.b-algo {
    background: linear-gradient(to bottom right, #E32076 0%, #E33F20 100%);
    color: #CC2927;
}

.b-math {
    background: linear-gradient(to bottom right, #7CC726 0%, #26C73B 100%);
    color: #43B02A;
}

.cert-wide {
    display: grid;
    grid-template-columns: 1fr 2fr 4.5fr;
    grid-template-rows: 60px 30px 30px 30px 15px;
    grid-auto-flow: dense;
    min-width: 300px;
    max-width: 350px;
    margin: 0.5rem;

    position: relative;
    background: white;
    color: black;
    box-shadow: 0px 3px 15px rgb(251, 251, 251, .8);
    border-radius: 10px;
    transition: .2s ease;
}

.cert-image {
    padding: 30px 20px 20px;
    grid-row: 1/5;
    grid-column: 1/2;
}

.cert-image img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 3px solid white;
    box-shadow: 0 0 0 4px purple;
    object-fit: cover;
}

.cert-name {
    grid-row: 1/1;
    grid-column: 2/4;
    padding: 20px 20px 10px 0;
    align-self: center;
}

.cert-stat-title {
    color: gray;
    font-size: 16px;
    align-self: center;
}

.cert-stat-info {
    align-self: center;
}

.cert-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.school-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.school-item {
    display: grid;
    grid-template-rows: 3rem 2rem 2rem 0.5rem;
    grid-template-columns: 1fr 4fr 1fr;
    margin-bottom: 20px;
}

.school-item:not(:last-child) {
    border-bottom: 1px solid white;
}

.school-image {
    grid-row: 1/4;
    grid-column: 1/2;
    align-self: center;
}

.school-sub-image {
    grid-row: 1/5;
    grid-column: 3/4;
}

.school-image img {
    width: 5rem;
    height: 5rem;
    background: white;
    border-radius: 50%;
}

.school-sub-image img {
    height: 5rem;
    background: white;
}

.school-name,
.school-year,
.school-major {
    text-align: left;
}

.school-year {
    grid-row: 2/3;
    grid-column: 2/3;
}

.school-major {
    grid-row: 3/4;
    grid-column: 2/3;
}

.school-city {
    margin: 5px;
    font-size: 80%;
}

.school-link {
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 100% 0.2em;
    background-position: 0 100%;
    transition: background-size .25s ease-in, color .25s ease-in;
    text-decoration: none;
    color: inherit;
}

.school-link:hover {
    background-size: 100% 100%;
    color: black;
}

.school-year {
    color: gray;
}

.wacca-stage-img {
    height: 100%;
    margin-bottom: -13px;
    padding: 0;
}

.social-wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.social-wrap-top {
    width: 100%;
    display: flex;
    justify-content: center;
}

.social-item {
    width: 5.5em;
    height: 5.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3em;
    margin: 0.5em;
    color: white;

}

.social-item span {
    font-size: 2.5em;
    transition: all 1s ease-out;
}

.social-item:hover span {
    font-size: 3em;
}

.social-phone {
    background-image: linear-gradient(45deg, #38ef7d 0%, #11998e 100%);
}

.social-mail {
    background-image: linear-gradient(45deg, #F05335 0%, #F21390 100%);
}

.social-gh {
    background-image: linear-gradient(45deg, #232526 0%, #414345 100%);
}

.social-fb {
    background-image: linear-gradient(45deg, #4092C9 0%, #404AC9 100%);
}

.social-ins {
    background-image: linear-gradient(45deg, #FFDC80 0%, #F77737 25%, #E1306C 50%, #833AB4 75%, #405DE6 100%);
}

.social-yt {
    background-image: linear-gradient(45deg, #E82C0C 0%, #E80C7A 100%);
}

.social-twc {
    background-image: linear-gradient(45deg, #8E40BD 0%, #4A40BD 100%);
}

.social-tw {
    background-image: linear-gradient(45deg, #0FC3DB 0%, #0F57DB 100%);
}

.social-stm {
    background-image: linear-gradient(45deg, #22424F 0%, #222A4F 100%);
}

.fass {
    filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, .9));
}

.contact-simple-text {
    text-align: left;
}

.footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    padding: 1rem;
}

.glitch-text-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: white;
    z-index: 1;
}

.glitch-text-link::before,
.glitch-text-link::after {
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.glitch-text-link::before {
    color: #00ffff;
    z-index: -1;
}

.glitch-text-link::after {
    color: #ff00ff;
    z-index: -2;
}

.glitch-text-link:hover::before {
    animation: glitchy .3s ease .3s infinite;
}

.glitch-text-link:hover::after {
    animation: glitchy .3s ease infinite reverse;
}

@keyframes backglow1 {

    0% {
        transform: translate(10%, 10%) scale(1);
        opacity: 0.5;
    }

    25% {
        transform: translate(-10%, 10%) scale(0.8);
        opacity: 0.5;
    }

    50% {
        transform: translate(-10%, -10%) scale(1.2);
        opacity: 0.8;
    }

    75% {
        transform: translate(10%, -10%) scale(1.1);
        opacity: 0.2;
    }

    100% {
        transform: translate(10%, 10%) scale(1);
        opacity: 0.5;
    }


}

@keyframes backglow2 {

    0% {
        transform: translate(-10%, -10%) scale(1);
        opacity: 0.5;
    }

    25% {
        transform: translate(10%, -10%) scale(0.8);
        opacity: 0.5;
    }

    50% {
        transform: translate(10%, 10%) scale(1.2);
        opacity: 0.8;
    }

    75% {
        transform: translate(-10%, 10%) scale(1.1);
        opacity: 0.2;
    }

    100% {
        transform: translate(-10%, -10%) scale(1);
        opacity: 0.5;
    }


}

@keyframes btnExpand {
    15% {
        color: transparent;
    }

    35% {
        width: 3em;
        height: 3em;
        border-radius: 9999px;
        margin: 0;
    }

    55% {
        background-image: none;
        width: 9999px;
        height: 9999px;
        border-radius: 9999px;
        color: transparent;
        display: none;
    }

    to {
        background-image: none;
        width: 0;
        height: 0;
        border-radius: 0;
        color: transparent;
        display: none;
    }
}

@keyframes modalExpand {
    from {
        overflow: hidden;
    }

    to {
        overflow: auto;
    }
}

@keyframes delayedFadeIn {
    from {
        opacity: 0
    }

    55% {
        opacity: 0
    }

    65% {
        opacity: 1
    }

    to {
        opacity: 1
    }
}

@keyframes glitchy {
    0% {
        transform: translate(-2px, 2px);
    }

    25% {
        transform: translate(-2px, -2px);
    }

    50% {
        transform: translate(2px, 2px);
    }

    75% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(-2px, 2px);
    }
}