@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Font-Awesome-Regular';
    src: url('/static/font/fa-regular-400.woff2') format('woff2');
}

@font-face {
    font-family: 'Font-Awesome-Solid';
    src: url('/static/font/fa-solid-900.woff2') format('woff2');
}

@font-face {
    font-family: 'InkLipquid';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/InkLipquid.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    font-family: 'Pretendard-Regular';
    margin: 0;
    padding: 0;
    overflow: hidden;
    scroll-behavior: smooth;
}

section {
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    transition: background 0.5s;
    padding: 0px 50px 0px;
}

#menu-container {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#menu-main::before {
    font-family: initial;
    content: '소개';
}

#menu-history::before {
    font-family: 'Pretendard-Regular';
    content: '이력';
}

#menu-award::before {
    font-family: 'Pretendard-Regular';
    content: '수상';
}

#menu-license::before {
    font-family: 'Pretendard-Regular';
    content: '자격증';
}

#menu-contact::before {
    font-family: 'Pretendard-Regular';
    content: '연락처';
}

#menu {
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2), 0 0 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    backdrop-filter: blur(3px);
    filter: url(#glass-distortion);
    gap: 8px;
    border-radius: 2rem;
    padding: 0.6rem 10.8rem;
    transform-origin: center center;
}

#menu:hover {
    padding: 0.8rem 14.4rem;
    transform-origin: center center;
}

#menu .menu-item {
    display: block;
    text-align: center;
    width: 75px;
    padding: 0;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    text-decoration: none;
    color: black;
}

#menu .menu-item:hover {
    transform: scale(0.95);
    transform-origin: center center;
}

#menu {
    padding: 0.6rem;
}

#menu:hover {
    padding: 0.8rem;
}

#main {
    background-color: antiquewhite;
    display: flex;
    align-items: flex-end;
}

#main #photo {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left: 50px;
}

#main #photo img {
    height: 80%;
}

#main #introduce {
    text-align: right;
    position: absolute;
    right: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 70%;
}

#main #introduce > p {
    text-align: right;
    margin: 10px 0px;
}

#introduce-1 {
    font-family: 'inkLipquid';
    font-size: 150%;
}


#history {
    background-color: gainsboro;
}

#award {
    background-color: honeydew;
}

#license {
    background-color: palegoldenrod;
}

#contact {
    background-color: sandybrown;
}

@property --color-1 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(98 100% 62%);
}

@property --color-2 {
  syntax: "<color>";
  inherits: false;
  initial-value: hsl(204 100% 59%);
}

@keyframes gradient-change {
    to {
        --color-1: hsl(210 100% 59%);
        --color-2: hsl(310 100% 59%);
    }
}

.step {
    animation: gradient-change 2s linear infinite alternate;
    
    background: linear-gradient(
        to right in oklch,
        var(--color-1), 
        var(--color-2)
    );
    
    background-clip: text;
    color: transparent;
}

#flip {
    display: inline-block;
    width: 500px;
    height: 48px;
    position: relative;
    top: 0px;
    perspective: 500;
    transition: all 0.3s ease-in-out;
}

#flip span {
    display: block;
    width: auto;
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(90deg);
    position: absolute;
    top: -24px;
    right: 0px;
}
#flip span.set {
    top: 0;
    opacity: 1;
    transform-origin: center center;
    transform: rotateX(0deg);
}
#flip span.down {
    top: 48px;
    opacity: 0;
    transform-origin: 0% 0%;
    transform: rotateX(-90deg);
}


@media (orientation: portrait) {

    #menu-main::before {
        font-family: 'Font-Awesome-Solid';
        content: '\f015';
    }

    #menu-history::before {
        font-family: 'Font-Awesome-Solid';
        content: '\f46d';
    }

    #menu-award::before {
        font-family: 'Font-Awesome-Solid';
        content: '\f559';
    }

    #menu-license::before {
        font-family: 'Font-Awesome-Solid';
        content: '\f2c2';
    }

    #menu-contact::before {
        font-family: 'Font-Awesome-Solid';
        content: '\f095';
    }

    #main {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    #main #photo {
        position: relative;
        left: auto;
        height: auto;
    }

    #main #photo img {
        height: 90%;
    }

    #main #introduce {
        align-items: center;
        text-align: center;
        position: relative;
        right: auto;
        justify-content: flex-end;
        font-size: 120%;
    }

    #main #introduce > p {
        text-align: center;
    }

    #flip {
        text-align: center;
        width: 1200px;
    }

    #flip span {
        left: 600px;
        translate: -50% 0%;
    }

    #menu-container {
        height: 80px;
    }

    #menu {
        font-size: 150%;
    }
}


.inklipquid {
    font-family: 'InkLipquid';
}